<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.area{border: 1px solid black; min-height: 100px;}
</style>
</head>
<body>
	<h1>window객체</h1>
	<p>
		window객체는 자바스크립트의 최상위 객체이며 
		BOM(Browser Object Model)과 DOM(Document Object Model)으로 나뉨
	</p>
	<h2>window객체</h2>
	<p>브라우저 창에 대한 설정을 하는 객체</p>
	<h3>open()</h3>
	<button onclick="test1();">실행1</button>
	<button onclick="test2();">실행2</button>
	<script>
		function test1() {
// 			window.open(); // 새로운 탭으로 빈 창이 열림, open : 새로운 페이지를 열어줌
// 			window.open('01_JavaScript.html');
// 			window.open('http://www.naver.com');
			window.open('http://www.naver.com', '네이버', 'width=500, height=300');
			//               주소                                      이름                      형태(specs)            (저장방식)
			window.open('http://www.google.com', '구글', 'width=300, height=500');
		}
		
		function test2() {
			var myPopup = window.open();
			myPopup.document.write('<h2>나 팝업이야!</h2>');
		}
	</script>
	
	<h3>timer메소드</h3>
	<h4>setTimeout()</h4>
	<button onclick="test3();">실행확인</button>
	<script>
		function test3() {
			var myWindow = window.open('', '', 'width=500, height=300');
			myWindow.alert('3초 후에 이 페이지는 종료됩니다.');
			
			window.setTimeout(function() {
				myWindow.close();
			}, 3000);
		}
	</script>
	
	<h4>setInterval()</h4>
	<button onclick="test4();">실행확인</button>
	<div id="area4" style="border: 1px solid blue; width: 300px; height: 100px; font-size: 40px; color: red;"></div>
	<script>
		function test4() {
			var area = document.getElementById('area4');
			
			// 간격을 두고 진행을 하겠다
			window.setInterval(function() {
				var date = new Date();
				
				area.innerHTML = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
			}, 1000);
		}
	</script>
	
	<h4>clearInterval()</h4>
	<button onclick="test5();">실행확인</button>
	<div id="area5" style="border: 1px solid black; width: 300px; height: 100px; font-size: 40px; color: red;"></div>
	<script>
		function test5() {
			// area5 안에 3초부터 거꾸로 카운트 (ex. 3 2 1)
			// 0초가 되면 '종료!' 출력 후 멈추기
// 			var area = document.getElementById('area5');
// 			var seconds = 3;
			
// 			var start = window.setInterval(function() {
// 				if(seconds > 0){
// 					area.innerHTML = seconds;
// 					seconds = seconds - 1;
// 				} else{
// 					area.innerHTML = '종료!';
// 					console.log(area.innerHTML);
// 					clearInterval(start);
// 				}
// 			}, 1000);

			var area = document.getElementById('area5');
			var count = 3;
			var count3 = window.setInterval(function() {
				area.innerHTML = 'countdown : ' + count--;
				
				if(count < 0){
					area.innerHTML += '종료!'; // 멈추지 않음 
					// 계속 똑같은 글자로 덮어씌워서 멈춘 것처럼 보임
					clearInterval(count3);
					// 인터벌을 지워줘야 완벽하게 멈출 수 있음
				}
			}, 1000);
		}
	</script>
	
	<h2>BOM객체</h2>
	<h3>location객체</h3>
	<p>브라우저의 주소 표시줄과 관련된 객체</p>
	<button onclick="test1();">실행확인</button>
	<script>
		function test1() {
			console.log(location);
// 			for(var key in location){
// 				console.log(key);
// 				console.log(location[key]);
// 			}
		}
	</script>
	<h4>location.href</h4>
	<p>페이지 이동</p>
	<button onclick="location.href='http://www.naver.com'">네이버로 이동</button>
	<button onclick="location='http://www.naver.com'">네이버로 이동</button> <!-- href 안 붙여도 넘어감 -->
	
	<h4>reload()</h4>
	<p>페이지를 새로고침하는 메소드</p>
	<button onclick="location=location">새로고침1</button>
	<button onclick="location.href=location.href">새로고침2</button>
	<button onclick="location.reload()">새로고침3</button>
	
	<h4>assign()과 replace()</h4>
	<p>
		페이지를 이동하는 메소드<br>
		replace()는 assign()과 다르게 history 객체에 현재 resource를 남기지 않음
	</p>
	<button onclick="location.assign('http://www.google.com')">구글로 이동1</button>
	<button onclick="location.replace('http://www.google.com')">구글로 이동2</button>
	
	<h3>navigator객체</h3>
	<p>웹페이지를 실행하고 있는 브라우저에 대한 정보를 갖고 있는 객체</p>
	<button onclick="test2();">실행확인</button>
	<script>
		function test2() {
			console.log(navigator); // 현재 웹페이지의 정보가 나옴(어떤 환경인지, 어떤 브라우저를 통해 열었는지 확인)
		}
	</script>
	
	<h3>screen객체</h3>
	<p>모니터의 속성을 가지는 객체</p>
	<button onclick="test3();">실행확인</button>
	<script>
		function test3() {
			console.log(screen); // 해당 컴퓨터의 비율을 얻고자 할때 사용 -> 사진이 깨지면 안되는 경우 모니터의 크기를 받아와서 사진 비율에 적용
		}
	</script>
	
	<h3>history객체</h3>
	<p>브라우저 방문 기록과 관련된 객체</p>
	<button onclick="history.back();">back</button>
	<button onclick="history.forward();">forward</button>
	
	<br><br>
	
	<input type='number' id='num'>
	<button onclick='test4();'>go</button>
	<script>
		function test4() {
			var num = document.getElementById('num').value;
			history.go(num); // 내가 지정한 숫자만큼 앞/뒤로 이동(앞 : +, 뒤 : -)
		}
	</script>
	
	<br><br>
	
	<button onclick='history.go(-1);'>go back</button>
	<button onclick='history.go(1);'>go forword</button>
	
	<h2>DOM</h2>
	<h3>텍스트 노드가 있는 노드 생성</h3>
	<div id='area1' class='area'></div>
	<button onclick="test5();">실행확인</button>
	<script>
		function test5() {
			var area = document.getElementById('area1');
			
			// <h3>을 넣기 위해 노드를 만들어줌
			var nodeH3 = document.createElement('h3'); // h3태그 생성
			var textNodeHello = document.createTextNode('안녕'); // 안녕이라는 글자 생성
			
			nodeH3.appendChild(textNodeHello); // <h3>안녕</h3>
			area.appendChild(nodeH3);
		}
	</script>
	<h3>텍스트 노드가 없는 노드 생성</h3>
	<div id='area2' class='area'></div>
	<button onclick="test6();">실행확인</button>
	<script>
		function test6() {
			var area = document.getElementById('area2');
			
			var nodeImg = document.createElement('img'); // <img>
			nodeImg.src = 'https://www.telegraph.co.uk/content/dam/Pets/spark/royal-canin/happy-puppy.jpg?imwidth=1240';
			nodeImg.height = '100';
			nodeImg.width = '150';
			nodeImg.myProperty = '123'; // 없는 속성이기 때문에 들어가지 않음
			nodeImg.setAttribute('myProperty', '456'); // 구분 등을 위해 없는 속성을 강제로 추가 가능
			// <img src="~" height="100" width="150">
			
			area.appendChild(nodeImg);
		}
	</script>
	
	<h3>innerHTML</h3>
	<button onclick="test7();">실행확인</button>
	<table border='1' id="board">
		<tr>
			<th>글번호</th>
			<th>글제목</th>
			<th>작성자</th>
			<th>조회수</th>
			<th>작성일자</th>
		</tr>
	</table>
	<script>
		function test7() {
			// 버튼을 누를 때마다 한 행 삽입
			var board = document.getElementById('board');
			
			var num = 1;
			var title = '제목';
			var writer = '작성자';
			var count = 0;
			var date = new Date();
			
			board.innerHTML += "<tr><td>" + num + "</td>"
			                + "<td>" + title + "</td>"
			                + "<td>" + writer + "</td>"
			                + "<td>" + count + "</td>"
			                + "<td>" + date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + "</td>";
		    // 장바구니 같은 곳에 많이 사용
		    // innerText : 삽입하는 것
			var area = document.getElementById('area2');
			area.innerHTML += "<b>" + title + "</b><br>"; // 안에 있는 태그를 해석
			area.innerText += "<b>" + title + "</b><br>"; // 안에 있는 태그를 해석하지 않고 다 텍스트로 봄, 태그와 상관없이 값만 입력, 출력하고 싶은 경우 사용
		}
	</script>
	
	<h3>스타일 지정</h3>
	<button onclick="test8();">실행확인</button>
	<div id="area3" class="area"></div>
	<script>
		function test8() {
			var area = document.getElementById('area3');
			area.style.backgroundColor = 'black';
			area.style.borderRadius = '100px';
			area.style.transition = 'all 2s';
		}
	</script>
	
	<h3>노드 삭제</h3>
	<button onclick="test9();">실행확인</button>
	<div id="area9" class="area"></div>
	<script>
		function test9() {
			document.getElementById('area9').remove();
		}
	</script>
</body>
</html>